<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Layerednavigation
 * @version    1.1.5
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php /** @var AW_Layerednavigation_Block_Filter_Option_Title $this */?>
<?php /** @var AW_Layerednavigation_Model_Filter_Option $option */?>
<?php $option = $this->getOption()?>

<?php if ($this->getImagePosition() == AW_Layerednavigation_Model_Source_Filter_Image_Position::TEXT_ONLY_CODE):?>
    <a title="<?php echo $option->getDescription();?>"><?php echo $option->getTitle();?></a>
<?php elseif($this->getImagePosition() == AW_Layerednavigation_Model_Source_Filter_Image_Position::IMAGE_ONLY_CODE):?>
    <img src="<?php echo $this->getOptionImageUrl($option, 20, 20);?>" alt="<?php echo $option->getTitle();?>" width="20" height="20" title="<?php echo $option->getDescription();?>"/>
<?php elseif($this->getImagePosition() == AW_Layerednavigation_Model_Source_Filter_Image_Position::LEFT_CODE):?>
    <img src="<?php echo $this->getOptionImageUrl($option, 20, 20);?>" alt="<?php echo $option->getTitle();?>" width="20" height="20" title="<?php echo $option->getDescription();?>"/>
    <a title="<?php echo $option->getDescription();?>"><?php echo $option->getTitle();?></a>
<?php elseif($this->getImagePosition() == AW_Layerednavigation_Model_Source_Filter_Image_Position::RIGHT_CODE):?>
    <a title="<?php echo $option->getDescription();?>"><?php echo $option->getTitle();?></a>
    <img src="<?php echo $this->getOptionImageUrl($option, 20, 20);?>" alt="<?php echo $option->getTitle();?>" width="20" height="20" title="<?php echo $option->getDescription();?>"/>
<?php endif;?>