<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Layerednavigation
 * @version    1.1.5
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php /* @var AW_Layerednavigation_Block_Filter_Type_Abstract $this; */ ?>
<?php $filterHtmlID = "aw-ln-filter-" . $this->getFilter()->getId() . "-options";?>
<ol id="<?php echo $filterHtmlID; ?>" style="overflow: hidden;">
    <?php foreach($this->getOptionList() as $option):?>
        <li class="aw-ln-filters-container-<?php echo $this->getColumnCount();?>column-layout">
            <label>
                <input type="checkbox"
                       name="<?php echo $this->getFilter()->getCode();?>"
                       value="<?php echo $option->getId();?>"
                       <?php echo ($this->isOptionChecked($option)?"checked":"")?>
                    />
                <?php echo $this->getTitleHtmlByOption($option);?>
            </label>
            <span>(<?php echo $this->getItemCountByOption($option);?>)</span>
        </li>
    <?php endforeach;?>
</ol>
<?php if ($this->isCanShowCollapse()):?>
<div id="aw-ln-filter-<?php echo $this->getFilter()->getId();?>-collapse-show" class="aw-ln-filter-collapse-show" style="display:block">
    <?php echo $this->__('See more');?>
</div>
<div id="aw-ln-filter-<?php echo $this->getFilter()->getId();?>-collapse-hide" class="aw-ln-filter-collapse-hide" style="display:none">
    <?php echo $this->__('See less');?>
</div>
<script type="text/javascript">
    new awLNFilterCollapse({
        limit: <?php echo Zend_Json::encode($this->getFilter()->getRowCountLimit());?>,
        columnsCount: <?php echo Zend_Json::encode($this->getColumnCount());?>,
        targetElSelector: "#aw-ln-filter-<?php echo $this->getFilter()->getId();?>-options",
        collapseShowElSelector: '#aw-ln-filter-<?php echo $this->getFilter()->getId();?>-collapse-show',
        collapseHideElSelector: '#aw-ln-filter-<?php echo $this->getFilter()->getId();?>-collapse-hide'
    });
</script>
<?php endif;?>
<script type="text/javascript">
    awLnUpdaterInstance.registerFilter(
        new awLnFilterTypeInput({
            name: <?php echo Zend_Json::encode($this->getFilter()->getCode());?>,
            containerElSelector: <?php echo Zend_Json::encode("#" . $filterHtmlID); ?>
        })
    );
</script>